DB_USER = {MySQL_User_Name}
DB_PASS = {MySQL_User_Pass}
DB_HOST = localhost

DB_NAME = {MySQL_Database_Name}
DB_TBLE = {MySQL_Table_Name}

DB_CLM1 = {MySQL_Column1}
DB_VAL1 = {MySQL_Value1}
DB_VAL2 = {MySQL_Value1}

DB_CLM2 = {MySQL_Column2}

DB_CLM3 = {MySQL_Column3}

HSHSALT = {RandomSALT}
